%h2 日程を編集してください

= form_with url: user_interview_url(params[:user_id]), method: :patch, local: true do |f|
  %div.input-group.date#datetimepicker
    %span.input-group-addon
      %span.glyphicon.glyphicon-calendar
    = f.text_field :begin_at, class: 'form-control', value: @interview.begin_at

  %br

  %div.checkbox_inline
    = f.check_box :allowed, {}, "undecided", @interview.allowed
    承認状態を初期化する場合はチェックしてください  （現在は
    = @interview.allowed_i18n + '）'

  %br

  = f.submit '変更', class: 'btn btn-primary', data: { disabled_with: '変更中...' }
