%h2 ユーザ一覧

%table
  %tr
    %th
    %th= t('activerecord.attributes.user.email')
    %th= t('activerecord.attributes.user.name')
  - @users.each do |user|
    %tr
      %td= user.id
      %td= user.email
      %td= user.name