%h2 ユーザ一覧

%table.table.table-hover
  %tr
    %th.col-xs-3= t('activerecord.attributes.user.email')
    %th.col-xs-2= t('activerecord.attributes.user.name')
    %th.col-xs-1= t('activerecord.attributes.user.age')
    %th.col-xs-1= t('activerecord.attributes.user.gender')
    %th.col-xs-2= t('activerecord.attributes.user.school')
    %th.col-xs-2= t('activerecord.attributes.user.interview')
    %th.col-xs-1
  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.name
      %td= user.age
      %td= user.gender_i18n
      %td= user.school
      %td= l(@interviews.where(user_id: user.id).first.begin_at, format: :short) if @interviews.where(user_id: user.id).present?
      %td= link_to "面接日程", user_interviews_path(user_id: user.id), class: 'btn btn-default'
