%p
  ID:
  = current_user.id
%p
  名前:
  = current_user.name
%p
  メールアドレス:
  = current_user.email
%p
  誕生日:
  = current_user.birthday
%p
  年齢:
  = current_user.age
  歳
%p
  性別:
  = current_user.gender

%p
  大学・大学院:
  = current_user.school

