%h2 プロフィール情報を登録してください。

= form_for current_user, url: {action: :update_profile}, method: :patch do |f|
  %div.field
    %p
      = f.label :email
      = f.text_field :email
    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.label :birthday
      = f.date_field :birthday
    %p
      = f.label :gender
      = f.select :gender, User.genders.keys
    %p
      = f.label :school
      = f.text_field :school

  %div
    = f.submit t".update"